.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
    background-color: var(--bg-3);
}


.about-me-parent {
    max-width: 1000px;
    width: 70%;
}

.about-me-card {
    display: flex;
    width: 100%;
    box-shadow: 0 0px 20px -2px rgb(63, 62, 62);
    border-radius: 10px;
}


.about-me-profile {
    width: 50%;
    background-image: url("../../../public/AboutMe2.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.about-me-details {
    width: 48%;
    text-align: justify;
    padding: 30px;
}


.about-me-description {
    font-size: 12px;
    color: var(--text-3);
}

.about-me-highlights {
    margin: 80px 0;
}

.highlight-heading {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--text-3);
}

.highlight {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 12px;
    color: var(--text-3);
}

.highlight-blob {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    background-color: var(--accent-1);
    border-radius: 50%;

}

.about-me-options .primary-btn{
    margin-right: 20px;

}

/* IPAD PRO RESPONSIVENESS*/
@media only screen and (mex-width: 1110px) {
    .about-me-parent {
        width: 88%;
    }
}

@media only screen and (mex-width: 898px) {
    .about-me-profile {
        display: none;

    }

    .about-me-details {
        width: 100%;
    }
}

@media only screen and (mex-width: 466px) {
    .about-meoptions {
        display: flex;
        flex-direction: column;
    }

    .about-me-options .highlighted-btn {
        margin: 24px 0 0 0 !important;
    }

    .about-me-options button {
        width: 100%;
    }
}



