.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 50px 0;
    background-color: white;
}

.screen-sub-heading {
    letter-spacing: 3px;
    margin: 8px 0 18px 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-3);

}

.screen-heading {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--text-3)
}

.heading-seperator {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px; 
    margin: 10px 0 10px 0;
}

.seperator-line {
    width: 100%;
    height: 2px;
    background-color: #1f2235;
}

.seperator-blob {
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -3px;
    
}

.seperator-blob div{
    width: 35px;
    border-radius: 10px;
    
    background: linear-gradient(135deg, var(--accent-1), var(--accent-2), var(--accent-3));
    
}
