.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    height: 140px;
    color: var(--bg-3);

}

.header-hamburger {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--bg-3);
}

.header-logo span{
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 600;
    color: var(--bg-3);
}