.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-image: url(../../assets/background.png);
}

.profile-details-name{
    font-size: 24px;
    font-size: Poppins;
    font-weight: 500;
    margin-top: 10px;
}