.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-image: url(../../assets/background.png);
}

.profile-parent {
    display: flex;
    align-items: center;
}

.colz{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
.colz-icon{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
}
    */

.profile-details-name{
    font-size: 24px;
    font-size: Poppins;
    font-weight: 500;
    margin-top: 10px;
}

.profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile-details-role h1{
    font-size: 40px;  
}

.profile-role-tagline{
    font-size: 25px;
    margin: 5px 0 0 0;
}

.profile-options .highlighted-btn{
    margin-left: 10px;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: top;
    box-shadow: 0 1px 0px 0px var(--bg-3);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}

.profile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url("../../assets/profilepicture.jpeg");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    margin-left: 15px;

}

.profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
}

.colz .colz-icon a{
    padding: 8px;
    padding-left: 0px;
}

.colz .colz-icon a:hover{
    transform: scale(2.5);
    transition: 1s ease-out;

}



