.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.profile-parent {
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: center;
}

.colz{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
.colz-icon{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
}
    */

.profile-details-name{
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 10px;
}

.profile-details-role {
    margin: 14px 0 10px;
    font-size: clamp(26px, 4vw, 40px);
    font-weight: 700;
    line-height: 1.15;
}

.profile-details-role h1{
    font-size: 40px;  
}

.profile-role-tagline{
    font-size: 25px;
    margin: 5px 0 0 0;
}

.profile-options .highlighted-btn{
    margin-left: 10px;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 1px 0px 0px var(--bg-3);
    border-radius: 50%;
    width: clamp(220px, 35vw, 380px);
    height: clamp(220px, 35vw, 380px);
    margin: 0;
}

.profile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url("../../assets/profilepicture.jpeg");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: top;
    margin-left: 15px;

}

.profile-picture-background:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
}

.colz .colz-icon a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    padding-left: 0px;
    transform-origin: center;
}

.colz .colz-icon a:hover{
    transform: scale(1.55);
    transition: 1s ease-out;

}

@media (max-width: 900px){
    .profile-parent{
        flex-direction: column-reverse;
        gap: 28px;
    }

    .profile-details-role h1{
        font-size: 32px;
    }

    .profile-role-tagline{
        font-size: 18px;
    }
}

